body {
    padding-top: 70px;
}

.category-title {
    font-family: "Inria Serif", serif;
    font-size: 2em;
    margin-bottom: 50px;
}

.card {
    transition: transform 0.2s;
    font-family: "Inria Serif", serif;
}

.card-title {
    font-weight: bold;
}

.card:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .col-md-6 {
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .col-12 {
        max-width: 50%;
    }
}